@page
@model MoviesRentalEF.Pages.RentedMovie.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentedMovies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentedMovies.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentedMovies.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentedMovies.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentedMovies.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentedMovies.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentedMovies.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentedMovies.Movies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentedMovies.Movies.MovieID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentedMovies.Customers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentedMovies.Customers.CustomerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RentedMovies.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
